@model Garage2.Models.Vehicle

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garage 2.0 - Återkomsten</h1>
    <h3 style="text-align:center;">Lediga platser: @ViewBag.FreeSpots</h3>
    <h3 style="text-align:center;">Pris: @ViewBag.PricePerHour kr/h</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="~/image/3V0A0242-GARAGE.jpg" />
    </div>
</div>